<!-- success-confirmation.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmar resetear contraseña</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          text-align: center;
          margin-top: 50px;
      }
      .container {
          max-width: 500px;
          margin: 0 auto;
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .success {
          color: #5189AB;
      }
  </style>
</head>
<body>
<div class="container">
  <h1 class="success">El reseteo de contraseña ha sido confirmado</h1>
  <p>Porfavor revise su email. Se ha enviado un mensaje con su nueva contraseña temporal</p>
</div>
</body>
</html>
